
---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "";
import { launchConfetti } from '../../public/scripts/CompletionConfetti.js';
import HeroSection from '../components/HeroSection.astro';
import Products from '../components/Products.astro';
import Banner from '../components/Banner.astro';
import Carrousel from '../components/Carrousel.astro';
---

<BaseLayout pageTitle={pageTitle}>
	{/* 
	<h2>Mi impresionante subtítulo del blog</h2>
    <Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />

	<button onclick="launchConfetti()" style="padding: 12px 24px; background: #4CAF50; color: white; border: none; border-radius: 8px; cursor: pointer;" >
  		¡Celebrar!
	</button>
	*/}
	<Carrousel/>
	
	<!--<Banner />-->
	<Products />
	<HeroSection />

</BaseLayout>

<script type="module">
	import { launchConfetti } from '../../public/scripts/CompletionConfetti.js';
	window.launchConfetti = launchConfetti;
</script>

