---

---

<section
  class="relative w-full h-[500px] bg-cover bg-center text-white"
  style="background-image: url('/images/usuario.png')"
>
  <!-- Overlay degradado violeta -->
  <div class="absolute inset-0 bg-gradient-to-r from-indigo-800/80 to-transparent z-0"></div>

  <!-- Contenido -->
  <div class="relative z-10 flex flex-col justify-center h-full px-6 md:px-20 max-w-5xl">
    <!-- Logo (si lo tienes como SVG separado, mejor) -->
    <img src="/images/logoBlanco.svg" alt="Logo InfyCredit" class="w-64 mb-" />

    <p class="text-lg md:text-xl leading-relaxed">
      Transformación digital para la industria financiera<br />
      y el sector solidario
    </p>
  </div>
</section>


