---
import { launchConfetti } from '../../public/scripts/CompletionConfetti.js';
---

<section class="mt-8 text-center p-10 bg-gradient-to-r from-blue-800 to-purple-600 text-white">
  <h1 class="text-4xl font-bold mb-4">Agende una demostraci칩n personalizada</h1>
  <p class="mb-6">Descubra c칩mo podemos potenciar su entidad. Uno de nuestros ejecutivos le mostrar치, en pocos minutos, todo lo que nuestra soluci칩n puede hacer por usted</p>
  
  <button onclick="launchConfetti()" class="bg-white text-blue-700 px-6 py-3 rounded-lg font-semibold" >
  		Agendar ahora
	</button>
</section>
