---
import ThemeIcon from "./ThemeIcon.astro";


---

<nav class="flex justify-between items-center p-4 bg-white shadow-md rounded-[2px]">
  <a href="/">
    <img src="/images/logoH.png" alt="InfyCredit Logo" class="h-12">
  </a>
  <ul class="flex items-center gap-6 bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 bg-clip-text text-transparent">

    <li><a href="/posts/credito">Crédito digital</a></li>
    <li><a href="/posts/onboarding">Onboarding</a></li>
    <li><a href="/posts/ia">AI</a></li>
    <!--<li><a href="/about">Sobre mi</a></li> -->
    <li><a href="/blog">Blog</a></li>
    <li><a href="/tags">Tags</a></li>
    <!--<li><a href="/" class="text-blue-700 font-semibold">Contactenos</a></li> -->
    <ThemeIcon />
  </ul>
</nav>