---

---

<div class="font-sans bg-grayLight text-gray-900">
  <section class="text-center p-10 bg-gradient-to-r from-primary to-accent text-blue">
    <h1 class="text-4xl font-bold mb-4">Soluciones tecnológicas integradoras</h1>
    <p class="mb-1">Como ayudamos a las entidades</p>
  </section>

  <section class="flex justify-around text-center">
    <div class="p-2">
      <div class="text-primary text-4xl mb-2">💳</div>
      <h2 class="font-bold text-xl mb-2">Flujos de crédito</h2>
      <p>• Administramos el riesgo de originación de crédito incrementando la rentabilidad, ampliando los puntos de contacto entidad - usuario.</p>
      <p>• Robustecemos el proceso de crédito identificando las personas, formalizando los documentos y títulos valor inmateriales generando firmas digitales certificadas.</p>
    </div>
    <div class="p-2">
      <div class="text-primary text-4xl mb-2">📲</div>
      <h2 class="font-bold text-xl mb-2">Onboarding</h2>
      <p>• Facilitamos el onboarding digital garantizando identidad, seguridad y cumplimiento normativo desde el primer contacto.</p>
      <p>• Agilizamos la vinculación de usuarios mediante validación biométrica, autenticación robusta y captura de información en línea, minimizando fricciones y abandonos.</p>
      <p>• Estructuramos un proceso seguro y trazable que habilita la generación de contratos digitales, aceptación de términos y registro automatizado en sistemas core.</p>
    </div>
    <div class="p-2">
      <div class="text-primary text-4xl mb-2">🤖</div>
      <h2 class="font-bold text-xl mb-2">AI</h2>
      <p>• Optimizamos la toma de decisiones crediticias con modelos de IA entrenados en comportamiento y riesgo real.</p>
      <p>• Automatizamos la atención al cliente con asistentes inteligentes que entienden, resuelven y aprenden.</p>
      <p>• Aplicamos inteligencia artificial para anticipar riesgos, personalizar ofertas y mejorar la experiencia del usuario.</p>
    </div>
  </section>
</div>
