---
import  Header  from '../components/Header.astro';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Footer2 from '../components/Footer2.vue';

import '../styles/global.css';


const { pageTitle } = Astro.props;
const currentYear = new Date().getFullYear().toString();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<Header />
		<div class="pr-5 pl-5">
			<h1 class="text-1xl font-bold bg-gradient-to-r from-green-500 via-teal-500 to-cyan-500 bg-clip-text text-transparent text-left mb-2">
    			{pageTitle}
  			</h1>

        	<slot />
		</div>
		
		<Footer2 year={currentYear} />
		 

		<script>
			import "../scripts/menu.js";
		</script>

	</body>
</html>